{"swagger":"2.0","info":{"version":"v1","title":"Freemarket Web API","description":"##Overview\n\nOur API is designed and built to allow your business to quickly and securely leverage the power our platform. Our comprehensive API documentation helps you explore our products and features in order to integrate with us as soon as possible. Additionally our dedicated technical team is here to answer any queries you may have.\n\nAll of the APIs are organised around REST - if you've interacted with a REST API previously then the concepts will be familiar to you. \n\n##Access\n\nWe provide Sandbox access to potential and existing clients. If you would like access to Sandbox then please contact our Sales team at: sales@wearefreemarket.com or by calling +44 (0)20 3393 2709 \n"},"host":"portal.wearefreemarket.com","basePath":"/api","schemes":["https"],"paths":{"/v1/Accounts":{"get":{"tags":["Accounts"],"summary":"Returns a list of entities","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts__Single","responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Accounts({accountId})/Balances":{"get":{"tags":["Accounts"],"summary":"Returns a list of entities of type AccountBalanceDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({accountId})/Balances_Single","parameters":[{"name":"accountId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity AccountBalanceDto"}}}},"/v1/Accounts({accountId})/Balances({currencyCode})":{"get":{"tags":["Accounts"],"summary":"Returns a single entity of type AccountBalanceDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({accountId})/Balances({currencyCode})_Single","parameters":[{"name":"accountId","in":"path","required":true,"type":"integer"},{"name":"currencyCode","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Accounts({accountId})/Beneficiaries":{"get":{"tags":["Accounts"],"summary":"Returns a single entity of type BeneficiaryDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({accountId})/Beneficiaries_Single","parameters":[{"name":"accountId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Accounts({accountId})/Countries(FilterType = {filterType})":{"get":{"tags":["Accounts"],"summary":"Returns a list of entities of type CountryDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({accountId})/Countries(FilterType = {filterType})_Single","parameters":[{"name":"accountId","in":"path","required":true,"type":"integer"},{"name":"filterType","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OData endpoint for entity CountryDto"}}}},"/v1/Accounts({accountId})/DepositInformation":{"get":{"tags":["Accounts"],"summary":"Returns a list of entities of type DepositInformationDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({accountId})/DepositInformation_Single","parameters":[{"name":"accountId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity DepositInformationDto"}}}},"/v1/Accounts({accountId})/DepositInformation({currencyCode})":{"get":{"tags":["Accounts"],"summary":"Returns a single entity of type DepositInformationDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({accountId})/DepositInformation({currencyCode})_Single","parameters":[{"name":"accountId","in":"path","required":true,"type":"integer"},{"name":"currencyCode","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Accounts({accountId})/Depositors":{"get":{"tags":["Accounts"],"summary":"Returns a single entity of type DepositorDto2","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({accountId})/Depositors_Single","parameters":[{"name":"accountId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Accounts({accountId})/DepositRoutingInformation":{"get":{"tags":["Accounts"],"summary":"Returns a list of entities of type DepositRoutingInformationDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({accountId})/DepositRoutingInformation_Single","parameters":[{"name":"accountId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity DepositRoutingInformationDto"}}}},"/v1/Accounts({accountId})/Deposits":{"get":{"tags":["Accounts"],"summary":"Returns a single entity of type DepositDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({accountId})/Deposits_Single","parameters":[{"name":"accountId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Accounts({accountId})/Exchanges":{"get":{"tags":["Accounts"],"summary":"Returns a list of entities of type ExchangeDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({accountId})/Exchanges_Single","parameters":[{"name":"accountId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity ExchangeDto"}}}},"/v1/Accounts({accountId})/TransferBeneficiaries":{"get":{"tags":["Accounts"],"summary":"Returns a single entity of type TransferBeneficiaryDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({accountId})/TransferBeneficiaries_Single","parameters":[{"name":"accountId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Accounts({accountId})/Withdrawals":{"get":{"tags":["Accounts"],"summary":"Returns a list of entities of type WithdrawalDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({accountId})/Withdrawals_Single","parameters":[{"name":"accountId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity WithdrawalDto"}}}},"/v1/Accounts({id})":{"get":{"tags":["Accounts"],"summary":"Returns a single entity of type Object","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Accounts_({id})_Single","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Alerts":{"get":{"tags":["Alerts"],"summary":"Returns a list of entities","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Alerts__Single","responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Alerts({id})":{"get":{"tags":["Alerts"],"summary":"Returns a single entity of type Object","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Alerts_({id})_Single","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Alerts/{alertId}/Cancel":{"post":{"tags":["Alerts"],"summary":"Cancels an Alert.","operationId":"Alerts_Cancel","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"alertId","in":"path","description":"AlertId to cancel.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"When there is an alert with the provided identifier and it is cancelled."},"404":{"description":"When there is no alert with the provided identifier, or you do not have permission to cancel the alert"}}}},"/v1/Alerts/Create":{"post":{"tags":["Alerts"],"summary":"Creates a alert.","description":"","operationId":"Alerts_CreateAlert","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/bson","multipart/form-data"],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"request","in":"body","description":"The details of the Alert to be created.","required":true,"schema":{"$ref":"#/definitions/CreateAlertRequest"}}],"responses":{"201":{"description":"When the Alert has been created successfully. The HTTP Header 'Location' will contain the URL with the details of the created Alert.","schema":{"$ref":"#/definitions/AlertDto"}},"400":{"description":"When there has been an error in any of the Alert's attributes"}}}},"/v1/Beneficiaries":{"get":{"tags":["Beneficiaries"],"summary":"Returns a list of entities","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Beneficiaries__Single","responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Beneficiaries({id})":{"get":{"tags":["Beneficiaries"],"summary":"Returns a single entity of type Object","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Beneficiaries_({id})_Single","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Beneficiaries/{beneficiaryId}/Cancel":{"post":{"tags":["Beneficiaries"],"operationId":"Beneficiaries_Cancel","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"beneficiaryId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v1/Beneficiaries/{beneficiaryId}/Enable":{"post":{"tags":["Beneficiaries"],"operationId":"Beneficiaries_Enable","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"beneficiaryId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v1/Beneficiaries/{beneficiaryId}/Suspend":{"post":{"tags":["Beneficiaries"],"operationId":"Beneficiaries_Suspend","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"beneficiaryId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v1/Beneficiaries/CreateWithdrawalBeneficiary":{"post":{"tags":["Beneficiaries"],"operationId":"Beneficiaries_CreateWithdrawalBeneficiary","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/bson","multipart/form-data"],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateWithdrawalBeneficiaryRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v1/Countries":{"get":{"tags":["Countries"],"summary":"Returns a list of entities of type CountryDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Countries__Single","responses":{"200":{"description":"OData endpoint for entity CountryDto"}}}},"/v1/Currencies":{"get":{"tags":["Currencies"],"summary":"Returns a list of entities of type CurrencyDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Currencies__List","responses":{"200":{"description":"OData endpoint for entity CurrencyDto"}}}},"/v1/Deposits":{"get":{"tags":["Deposits"],"summary":"Returns a list of entities","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Deposits__Single","responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Deposits({depositId})/Fees":{"get":{"tags":["Deposits"],"summary":"Returns a list of entities of type FeeDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Deposits_({depositId})/Fees_Single","parameters":[{"name":"depositId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity FeeDto"}}}},"/v1/Deposits({id})":{"get":{"tags":["Deposits"],"summary":"Returns a single entity of type Object","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Deposits_({id})_Single","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Deposits/{depositId}/AssignDepositor":{"post":{"tags":["Deposits"],"operationId":"Deposits_AssignDepositor","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/bson","multipart/form-data"],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"depositId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"depositor","in":"body","required":true,"schema":{"$ref":"#/definitions/AssignDepositorDto"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v1/Deposits/{depositId}/AssignDepositor/{depositorId}":{"post":{"tags":["Deposits"],"operationId":"Deposits_AssignDepositor_depositorId","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"depositId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"depositorId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v1/Deposits/DepositRequirement":{"post":{"tags":["Deposits"],"operationId":"Deposits_DepositRequirement","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/bson","multipart/form-data"],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/DepositRequirementRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v1/Entities":{"get":{"tags":["Entities"],"summary":"Returns a list of entities of type EntityDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Entities__Single","responses":{"200":{"description":"OData endpoint for entity EntityDto"}}}},"/v1/Entities({entityId})/Accounts":{"get":{"tags":["Entities"],"summary":"Returns a list of entities of type AccountDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Entities_({entityId})/Accounts_Single","parameters":[{"name":"entityId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity AccountDto"}}}},"/v1/Entities({entityId})/Countries(FilterType = {filterType})":{"get":{"tags":["Entities"],"summary":"Returns a list of entities of type CountryDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Entities_({entityId})/Countries(FilterType = {filterType})_Single","parameters":[{"name":"entityId","in":"path","required":true,"type":"integer"},{"name":"filterType","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OData endpoint for entity CountryDto"}}}},"/v1/Entities({id})":{"get":{"tags":["Entities"],"summary":"Returns a single entity of type EntityDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Entities_({id})_Single","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Entities/{entityId}/CreateVerifiedAccount":{"post":{"tags":["Entities"],"operationId":"Entities_CreateVerifiedAccount","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/bson","multipart/form-data"],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"entityId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateVerifiedAccountRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JobCreateResultDto"}}}}},"/v1/Exchanges":{"get":{"tags":["Exchanges"],"summary":"Returns a list of entities","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Exchanges__Single","responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Exchanges({exchangeId})/Allocations":{"get":{"tags":["Exchanges"],"summary":"Returns a list of entities of type AllocationDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Exchanges_({exchangeId})/Allocations_Single","parameters":[{"name":"exchangeId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity AllocationDto"}}}},"/v1/Exchanges({exchangeId})/Deposits":{"get":{"tags":["Exchanges"],"summary":"Returns a list of entities of type DepositDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Exchanges_({exchangeId})/Deposits_Single","parameters":[{"name":"exchangeId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity DepositDto"}}}},"/v1/Exchanges({exchangeId})/Fees":{"get":{"tags":["Exchanges"],"summary":"Returns a list of entities of type FeeDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Exchanges_({exchangeId})/Fees_Single","parameters":[{"name":"exchangeId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity FeeDto"}}}},"/v1/Exchanges({exchangeId})/Withdrawals":{"get":{"tags":["Exchanges"],"summary":"Returns a list of entities of type WithdrawalDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Exchanges_({exchangeId})/Withdrawals_Single","parameters":[{"name":"exchangeId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity WithdrawalDto"}}}},"/v1/Exchanges({id})":{"get":{"tags":["Exchanges"],"summary":"Returns a single entity of type Object","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Exchanges_({id})_Single","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Exchanges/{exchangeId}/Allocate":{"post":{"tags":["Exchanges"],"summary":"Allocates an Instruction.","operationId":"Exchanges_Allocate","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"exchangeId","in":"path","description":"InstructionId to allocate.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"When there is an exchange with the provided identifier and it is allocated."},"404":{"description":"When there is no exchange with the provided identifier, or you do not have permission to view the exchange"}}}},"/v1/Exchanges/{exchangeId}/Approve":{"post":{"tags":["Exchanges"],"operationId":"Exchanges_Approve","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"exchangeId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v1/Exchanges/{exchangeId}/Cancel":{"post":{"tags":["Exchanges"],"summary":"Cancels an Instruction.","operationId":"Exchanges_Cancel","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"exchangeId","in":"path","description":"InstructionId to cancel.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"When there is an exchange with the provided identifier and it is cancelled."},"404":{"description":"When there is no exchange with the provided identifier, or you do not have permission to view the exchange"}}}},"/v1/Exchanges/{exchangeId}/Reject":{"post":{"tags":["Exchanges"],"operationId":"Exchanges_Reject","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"exchangeId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v1/Exchanges/Create":{"post":{"tags":["Exchanges"],"summary":"Creates a new exchange","description":"","operationId":"Exchanges_Create","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/bson","multipart/form-data"],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"request","in":"body","description":"The details of the exchange to be created","required":true,"schema":{"$ref":"#/definitions/CreateExchangeRequest"}}],"responses":{"201":{"description":"When the exchange has been created successfully. The HTTP Header 'Location' will contain the URL with the details of the created exchange.","schema":{"$ref":"#/definitions/ExchangeDto"}},"400":{"description":"When there has been an error in any of the exchange's attributes"}}}},"/v1/Jobs/{jobId}/Status":{"get":{"tags":["Jobs"],"operationId":"Jobs_GetStatus","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"jobId","in":"path","required":true,"type":"integer","format":"int32"},{"name":"token","in":"query","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"enum":["Ready","Running","Completed","Cancelled","Failed"],"type":"string"}}}}},"/v1/Quotes/Quote":{"post":{"tags":["Quotes"],"operationId":"Quotes_GetQuote","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/bson","multipart/form-data"],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/QuoteRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v1/Sectors":{"get":{"tags":["Sectors"],"summary":"Returns a list of entities of type SectorDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Sectors__List","responses":{"200":{"description":"OData endpoint for entity SectorDto"}}}},"/v1/TransferBeneficiaries":{"get":{"tags":["TransferBeneficiaries"],"summary":"Returns a list of entities","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"TransferBeneficiaries__Single","responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/TransferBeneficiaries({id})":{"get":{"tags":["TransferBeneficiaries"],"summary":"Returns a single entity of type Object","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"TransferBeneficiaries_({id})_Single","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Transfers":{"get":{"tags":["Transfers"],"summary":"Returns a list of entities","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Transfers__Single","responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Transfers({id})":{"get":{"tags":["Transfers"],"summary":"Returns a single entity of type Object","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Transfers_({id})_Single","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Transfers({transferId})/Fees":{"get":{"tags":["Transfers"],"summary":"Returns a list of entities of type FeeDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Transfers_({transferId})/Fees_Single","parameters":[{"name":"transferId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity FeeDto"}}}},"/v1/Transfers/{transferId}/Cancel":{"post":{"tags":["Transfers"],"summary":"Cancels a Transfer.","operationId":"Transfers_Cancel","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"transferId","in":"path","description":"TransferId to cancel.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"When there is an transfer with the provided identifier and it is cancelled."},"404":{"description":"When there is no transfer with the provided identifier, or you do not have permission to view the transfer"}}}},"/v1/Transfers/CreateAccountTransfer":{"post":{"tags":["Transfers"],"summary":"Creates a new ad-hoc TransferTransaction","description":"","operationId":"Transfers_CreateAccountTransfer","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/bson","multipart/form-data"],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"request","in":"body","description":"The details of the transfer to be created","required":true,"schema":{"$ref":"#/definitions/CreateAccountTransferRequest"}}],"responses":{"201":{"description":"When the transfer has been created successfully. The HTTP Header 'Location' will contain the URL with the details of the created transfer.","schema":{"$ref":"#/definitions/CreateResultDto"}},"400":{"description":"When there has been an error in any of the transfer's attributes"}}}},"/v1/Withdrawals":{"get":{"tags":["Withdrawals"],"summary":"Returns a list of entities","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Withdrawals__Single","responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Withdrawals({id})":{"get":{"tags":["Withdrawals"],"summary":"Returns a single entity of type Object","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Withdrawals_({id})_Single","parameters":[{"name":"id","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Withdrawals({withdrawalId})/Fees":{"get":{"tags":["Withdrawals"],"summary":"Returns a list of entities of type FeeDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Withdrawals_({withdrawalId})/Fees_Single","parameters":[{"name":"withdrawalId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity FeeDto"}}}},"/v1/Withdrawals({withdrawalId})/PaymentConfirmationDetails":{"get":{"tags":["Withdrawals"],"summary":"Returns a single entity of type PaymentConfirmationDetailsDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Withdrawals_({withdrawalId})/PaymentConfirmationDetails_Single","parameters":[{"name":"withdrawalId","in":"path","required":true,"type":"integer"}],"responses":{"200":{"description":"OData endpoint for entity "}}}},"/v1/Withdrawals/{withdrawalId}/Approve":{"post":{"tags":["Withdrawals"],"operationId":"Withdrawals_Approve","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"withdrawalId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v1/Withdrawals/{withdrawalId}/Cancel":{"post":{"tags":["Withdrawals"],"summary":"Cancels a Withdrawal.","operationId":"Withdrawals_Cancel","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"withdrawalId","in":"path","description":"WithdrawalId to cancel.","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"When there is an Withdrawal with the provided identifier and it is cancelled."},"404":{"description":"When there is no Withdrawal with the provided identifier, or you do not have permission to view the Withdrawal"}}}},"/v1/Withdrawals/{withdrawalId}/Reject":{"post":{"tags":["Withdrawals"],"operationId":"Withdrawals_Reject","consumes":[],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"withdrawalId","in":"path","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/v1/Withdrawals/CreateAccountWithdrawal":{"post":{"tags":["Withdrawals"],"summary":"Creates an ad-hoc Withdrawal.","description":"","operationId":"Withdrawals_CreateAccountWithdrawal","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/bson","multipart/form-data"],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"request","in":"body","description":"The details of the Withdrawal to be created.","required":true,"schema":{"$ref":"#/definitions/CreateAccountWithdrawalRequest"}}],"responses":{"201":{"description":"When the Withdrawal has been created successfully. The HTTP Header 'Location' will contain the URL with the details of the created Withdrawal.","schema":{"$ref":"#/definitions/WithdrawalDto"}},"400":{"description":"When there has been an error in any of the Withdrawal's attributes"}}}},"/v1/Withdrawals/CreateInstructionWithdrawal":{"post":{"tags":["Withdrawals"],"summary":"Creates a Withdrawal configured and triggered by completion of an Instruction.","description":"","operationId":"Withdrawals_CreateInstructionWithdrawal","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/bson","multipart/form-data"],"produces":["application/json","text/json","application/bson"],"parameters":[{"name":"request","in":"body","description":"The details of the Withdrawal to be created","required":true,"schema":{"$ref":"#/definitions/CreateInstructionWithdrawalRequest"}}],"responses":{"201":{"description":"When the Withdrawal has been created successfully. The HTTP Header 'Location' will contain the URL with the details of the created Withdrawal.","schema":{"$ref":"#/definitions/WithdrawalDto"}},"400":{"description":"When there has been an error in any of the Withdrawal's attributes"}}}},"/v1/Withdrawals/PaymentPurposes(CountryCode = {countryCode})":{"get":{"tags":["Withdrawals"],"summary":"Returns a list of entities of type PaymentPurposeDto","description":"<a href='http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html'>OData v4</a> Query endpoint. <a href='/api/v1/$metadata'>Metadata</a> associated","externalDocs":{"description":"OData","url":"http://docs.oasis-open.org/odata/odata/v4.0/odata-v4.0-part1-protocol.html"},"operationId":"Withdrawals_/PaymentPurposes(CountryCode = {countryCode})_Single","parameters":[{"name":"countryCode","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OData endpoint for entity PaymentPurposeDto"}}}}},"definitions":{"CreateAlertRequest":{"required":["SourceCurrencyCode","TargetCurrencyCode","Limit"],"type":"object","properties":{"SourceCurrencyCode":{"description":"The source currency for the exchange rate","type":"string"},"TargetCurrencyCode":{"description":"The target currency for the exchange rate","type":"string"},"Limit":{"format":"decimal","description":"The exchange rate threashold for the alert","type":"number"}},"example":"{\r\n  \"SourceCurrencyCode\": \"GBP\",\r\n  \"TargetCurrencyCode\": \"USD\",\r\n  \"Limit\": 1.2\r\n}"},"AlertDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"SourceCurrencyCode":{"type":"string"},"TargetCurrencyCode":{"type":"string"},"Limit":{"format":"decimal","type":"number"},"CreatedDate":{"format":"date-time","type":"string"},"Rate":{"format":"double","type":"number"},"ValueDate":{"format":"date-time","type":"string"},"NotifiedDate":{"format":"date-time","type":"string"},"CancelledDate":{"format":"date-time","type":"string"},"Active":{"type":"boolean"}}},"CreateWithdrawalBeneficiaryRequest":{"required":["AccountId","Name","PaymentRouting","CurrencyCode","BeneficiaryType","Address"],"type":"object","properties":{"AccountId":{"format":"int32","description":"The account id for which the beneficiary will be created","maximum":2147483647,"minimum":1,"type":"integer"},"Name":{"description":"The name of the beneficiary","type":"string"},"AccountHolderName":{"description":"The name of the bank account holder","type":"string"},"PaymentRouting":{"$ref":"#/definitions/IPartyIdentification","description":"Payment routing information"},"AlternatePaymentRouting":{"description":"Alternate payment routing information for the same beneficiary to be used for possible payment optimizations.","type":"array","items":{"$ref":"#/definitions/IPartyIdentification"}},"IntermediaryPaymentRouting":{"description":"Intermediary routing information","type":"array","items":{"$ref":"#/definitions/IPartyIdentification"}},"CurrencyCode":{"description":"The currency of the transferred funds","type":"string"},"BeneficiaryType":{"description":"The type of the beneficiary","enum":["Individual","Company"],"type":"string"},"Address":{"$ref":"#/definitions/AddressDto","description":"The address of the beneficiary"}}},"IPartyIdentification":{"type":"object","properties":{}},"AddressDto":{"required":["Street","Town","CountryCode"],"type":"object","properties":{"Street":{"type":"string"},"HouseNumber":{"type":"string"},"HouseName":{"type":"string"},"FlatNumber":{"type":"string"},"District":{"type":"string"},"Town":{"type":"string"},"County":{"type":"string"},"PostCode":{"type":"string"},"CountryCode":{"type":"string"}}},"AssignDepositorDto":{"required":["IsThirdParty"],"type":"object","properties":{"IsThirdParty":{"type":"boolean"},"Individual":{"$ref":"#/definitions/IndividualDepositorDto"},"Company":{"$ref":"#/definitions/CompanyDepositorDto"},"SupportingDocuments":{"type":"array","items":{"$ref":"#/definitions/StreamedHttpFile"}}}},"IndividualDepositorDto":{"required":["FirstName","LastName","PhoneNumber","Address"],"type":"object","properties":{"FirstName":{"type":"string"},"MiddleName":{"type":"string"},"LastName":{"type":"string"},"PhoneNumber":{"type":"string"},"Address":{"$ref":"#/definitions/AddressDto"}}},"CompanyDepositorDto":{"required":["Name","PhoneNumber","IndustryId","Address"],"type":"object","properties":{"Name":{"type":"string"},"PhoneNumber":{"type":"string"},"Website":{"type":"string"},"IndustryId":{"format":"int32","type":"integer"},"IndustryDetails":{"type":"string"},"Address":{"$ref":"#/definitions/AddressDto"}}},"StreamedHttpFile":{"type":"object","properties":{"Stream":{"$ref":"#/definitions/Stream"},"StreamLength":{"format":"int64","type":"integer","readOnly":true},"Name":{"type":"string"},"MediaType":{"type":"string"}}},"Stream":{"type":"object","properties":{"__identity":{"type":"object"}}},"DepositRequirementRequest":{"required":["AccountId","NetDepositRequirement","CurrencyCode"],"type":"object","properties":{"AccountId":{"format":"int32","type":"integer"},"NetDepositRequirement":{"format":"decimal","type":"number"},"CurrencyCode":{"type":"string"}}},"CreateVerifiedAccountRequest":{"required":["Application"],"type":"object","properties":{"Application":{"$ref":"#/definitions/AccountApplicationDto"}}},"AccountApplicationDto":{"required":["RiskRating","RationaleForTransactions"],"type":"object","properties":{"PersonalRegistration":{"$ref":"#/definitions/PersonalRegistrationDto"},"CompanyRegistration":{"$ref":"#/definitions/CompanyRegistrationDto"},"RiskRating":{"enum":["Low","Medium","High"],"type":"string"},"RationaleForTransactions":{"description":"The payment purpose id - Id, Code or name can be provided","type":"string"},"AccountName":{"type":"string"},"LegalName":{"type":"string"}}},"PersonalRegistrationDto":{"required":["FirstName","LastName","DateOfBirth","CountryOfBirth","Address","IdentityDocument"],"type":"object","properties":{"FirstName":{"type":"string"},"LastName":{"type":"string"},"DateOfBirth":{"format":"date-time","type":"string"},"CountryOfBirth":{"type":"string"},"Address":{"$ref":"#/definitions/AddressDto"},"IdentityDocument":{"$ref":"#/definitions/IdentityDocumentDto"}}},"CompanyRegistrationDto":{"required":["Company","Representatives","SourceOfFunds"],"type":"object","properties":{"Company":{"$ref":"#/definitions/CompanyDto"},"Representatives":{"type":"array","items":{"$ref":"#/definitions/RepresentativeDto"}},"SourceOfFunds":{"enum":["Acquirer","FinancialInstitution","Marketplace"],"type":"string"},"RegulatoryAuthorityUrl":{"type":"string"}}},"IdentityDocumentDto":{"required":["DocumentType","DocumentNumber","CountryOfIssue"],"type":"object","properties":{"DocumentType":{"enum":["DriversLicence","Passport","BillReference","GovernmentId"],"type":"string"},"DocumentNumber":{"type":"string"},"CountryOfIssue":{"type":"string"},"ExpiryDate":{"format":"date-time","type":"string"}}},"CompanyDto":{"required":["CompanyName","IndustryId","Address","CompanyNumber","TaxResidencyCountry"],"type":"object","properties":{"CompanyName":{"type":"string"},"IndustryId":{"format":"int32","type":"integer"},"IndustryDetails":{"type":"string"},"Address":{"$ref":"#/definitions/AddressDto"},"CompanyNumber":{"type":"string"},"TaxResidencyCountry":{"type":"string"},"Website":{"type":"string"}}},"RepresentativeDto":{"required":["Role","FirstName","LastName","DateOfBirth","Address"],"type":"object","properties":{"Role":{"enum":["Director","Employee"],"type":"string"},"FirstName":{"type":"string"},"LastName":{"type":"string"},"DateOfBirth":{"format":"date-time","type":"string"},"Address":{"$ref":"#/definitions/AddressDto"}}},"JobCreateResultDto":{"type":"object","properties":{"Token":{"format":"uuid","type":"string"},"Id":{"format":"int32","type":"integer"}}},"CreateExchangeRequest":{"required":["AccountId","SourceCurrencyCode","TargetCurrencyCode","Goal","GoalType","UseAvailableFunds"],"type":"object","properties":{"AccountId":{"format":"int32","description":"The account id for which the exchange will be created","maximum":2147483647,"minimum":1,"type":"integer"},"SourceCurrencyCode":{"description":"The currency to be disposed of","type":"string"},"TargetCurrencyCode":{"description":"The currency to be acquired","type":"string"},"Goal":{"format":"decimal","description":"The amount to be bought or sold in this exchange, depending on GoalType","maximum":2147483647,"minimum":1,"type":"number"},"GoalType":{"description":"The type of the goal, either 'Buy' or 'Sell'","enum":["Buy","Sell"],"type":"string"},"UseAvailableFunds":{"description":"True if any available funds in the account should be used for this exchange","type":"boolean"}},"example":"{\r\n  \"AccountId\": 1,\r\n  \"SourceCurrencyCode\": \"GBP\",\r\n  \"TargetCurrencyCode\": \"USD\",\r\n  \"Goal\": 1000.0,\r\n  \"GoalType\": \"Sell\",\r\n  \"UseAvailableFunds\": true\r\n}"},"ExchangeDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"AccountId":{"format":"int32","type":"integer"},"SourceCurrencyCode":{"type":"string"},"TargetCurrencyCode":{"type":"string"},"InstructionTypeId":{"enum":["Continuous","Windowed","Surplus","Settlement","RealTime","Margin"],"type":"string"},"Goal":{"format":"decimal","type":"number"},"GoalTypeCode":{"type":"string"},"GoalType":{"enum":["Buy","Sell"],"type":"string"},"Sold":{"format":"decimal","type":"number"},"Bought":{"format":"decimal","type":"number"},"StatusCode":{"type":"string"},"Status":{"enum":["Enabled","Suspended","Cancelled","Processing","Completed"],"type":"string"},"CreatedOn":{"format":"date-time","type":"string"},"UpdatedDate":{"format":"date-time","type":"string"},"Allocations":{"type":"array","items":{"$ref":"#/definitions/AllocationDto"}},"Deposits":{"type":"array","items":{"$ref":"#/definitions/DepositDto"}},"Fees":{"type":"array","items":{"$ref":"#/definitions/FeeDto"}},"Withdrawals":{"type":"array","items":{"$ref":"#/definitions/WithdrawalDto"}},"DepositReference":{"type":"string","readOnly":true,"x-deprecate":true,"x-deprecateReason":"Will be removed from future versions, use Deposits[0].Reference in case there are expected deposits for this exchange"}}},"AllocationDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"Amount":{"format":"decimal","type":"number"},"ValueDate":{"format":"date-time","type":"string"},"DepositId":{"format":"int32","type":"integer"}}},"DepositDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"AccountId":{"format":"int32","type":"integer"},"CurrencyCode":{"type":"string"},"Amount":{"format":"decimal","type":"number"},"Reference":{"type":"string"},"Narrative":{"type":"array","items":{"type":"string"},"readOnly":true},"ValueDate":{"format":"date-time","type":"string"},"Deposited":{"format":"decimal","type":"number"},"StatusCode":{"type":"string"},"Status":{"enum":["Enabled","Suspended","Cancelled","Processing","Completed"],"type":"string"},"Depositor":{"$ref":"#/definitions/DepositorDetailsDto"},"CounterpartAccountName":{"type":"string"},"ClientDepositor":{"$ref":"#/definitions/ClientDepositorDetailsDto"},"Fees":{"type":"array","items":{"$ref":"#/definitions/FeeDto"}}}},"FeeDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"Narative":{"type":"string"},"CurrencyCode":{"type":"string"},"Amount":{"format":"double","type":"number"},"DefinitionAmount":{"format":"double","type":"number"},"Percentage":{"format":"double","type":"number"},"PaymentScheme":{"enum":["FasterPayments","Chaps","Bacs","Sepa","Swift","Target2"],"type":"string"},"ConfiguredCurrency":{"type":"string"},"ConfiguredAmount":{"format":"double","type":"number"},"ConfiguredPercentage":{"format":"double","type":"number"},"ExchangeRate":{"format":"double","type":"number"},"Cancelled":{"type":"boolean"},"CanBeCancelled":{"type":"boolean"}}},"WithdrawalDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"AccountId":{"format":"int32","type":"integer"},"Account":{"$ref":"#/definitions/AccountDto"},"CurrencyCode":{"type":"string"},"Amount":{"format":"double","type":"number"},"OutstandingAmount":{"format":"double","type":"number"},"Beneficiary":{"$ref":"#/definitions/BeneficiaryDto"},"Reference":{"type":"string"},"InstructionId":{"format":"int32","type":"integer"},"CreatedDate":{"format":"date-time","type":"string"},"ValueDate":{"format":"date-time","type":"string"},"Description":{"type":"string"},"StatusCode":{"type":"string"},"Status":{"enum":["Enabled","Suspended","Cancelled","Processing","Completed"],"type":"string"},"Fees":{"type":"array","items":{"$ref":"#/definitions/FeeDto"}}}},"DepositorDetailsDto":{"type":"object","properties":{"Name":{"type":"string"},"VirtualAccount":{"$ref":"#/definitions/PartyIdentificationDto","readOnly":true},"Counterparty":{"$ref":"#/definitions/PartyIdentificationDto","readOnly":true},"CounterpartyBankCountry":{"type":"string"},"CounterpartyBankName":{"type":"string"}}},"ClientDepositorDetailsDto":{"type":"object","properties":{"DepositorId":{"format":"int32","type":"integer"}}},"AccountDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"EntityId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"AccountNumber":{"type":"string"},"Balances":{"type":"array","items":{"$ref":"#/definitions/AccountBalanceDto"}},"Exchanges":{"type":"array","items":{"$ref":"#/definitions/ExchangeDto"}},"Withdrawals":{"type":"array","items":{"$ref":"#/definitions/WithdrawalDto"}},"Deposits":{"type":"array","items":{"$ref":"#/definitions/DepositDto"}},"Beneficiaries":{"type":"array","items":{"$ref":"#/definitions/BeneficiaryDto"}},"TransferBeneficiaries":{"type":"array","items":{"$ref":"#/definitions/TransferBeneficiaryDto"}},"DepositInformation":{"type":"array","items":{"$ref":"#/definitions/DepositInformationDto"}},"DepositRoutingInformation":{"type":"array","items":{"$ref":"#/definitions/DepositRoutingInformationDto"}},"Activities":{"type":"array","items":{"$ref":"#/definitions/ActivityDto"}},"Depositors":{"type":"array","items":{"$ref":"#/definitions/DepositorDto2"}},"StatusCode":{"type":"string"},"Status":{"enum":["Enabled","Suspended","Cancelled"],"type":"string"}}},"BeneficiaryDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"AccountId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"CurrencyCode":{"type":"string"},"StatusCode":{"type":"string"},"Status":{"enum":["Enabled","Suspended","Cancelled","Processing","Completed"],"type":"string"},"PaymentRouting":{"$ref":"#/definitions/PaymentRoutingDto"}}},"PartyIdentificationDto":{"type":"object","properties":{"Properties":{"type":"object","additionalProperties":{"type":"object"}}}},"AccountBalanceDto":{"type":"object","properties":{"CurrencyCode":{"type":"string"},"Value":{"format":"decimal","type":"number"},"Allocated":{"format":"decimal","type":"number"},"Processing":{"format":"decimal","type":"number"},"Available":{"format":"decimal","type":"number"},"ValueDate":{"format":"date-time","type":"string"},"Statement":{"type":"array","items":{"$ref":"#/definitions/AccountStatementItemDto"}}}},"TransferBeneficiaryDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"AccountId":{"format":"int32","type":"integer"},"BeneficiaryAccountId":{"format":"int32","type":"integer"},"Name":{"type":"string"},"CurrencyCode":{"type":"string"},"StatusCode":{"type":"string"},"Status":{"enum":["Enabled","Suspended","Cancelled","Processing","Completed"],"type":"string"}}},"DepositInformationDto":{"type":"object","properties":{"CurrencyCode":{"type":"string"},"Routings":{"type":"array","items":{"$ref":"#/definitions/DepositInformationRoutingTempDto"}}}},"DepositRoutingInformationDto":{"type":"object","properties":{"CurrencyCode":{"type":"string"},"Routings":{"type":"array","items":{"$ref":"#/definitions/PaymentRoutingDto"}}}},"ActivityDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"ExecutedAt":{"format":"date-time","type":"string"},"UserName":{"type":"string"},"Location":{"type":"string"},"Description":{"type":"string"},"ActivityType":{"type":"string"},"ApprovalStatusId":{"enum":["WorkflowSkipped","EnrolledInWorkflow","PartiallyApproved","Approved","Rejected","Canceled"],"type":"string"},"InBound":{"type":"boolean"}}},"DepositorDto2":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"CreatedDate":{"format":"date-time","type":"string"},"RemitterName":{"type":"string"},"Name":{"type":"string"},"EntityType":{"enum":["Individual","Company"],"type":"string"},"IsThirdParty":{"type":"boolean"},"Address":{"$ref":"#/definitions/AddressDto"},"Website":{"type":"string"},"Industry":{"$ref":"#/definitions/IndustryDto"},"IndustryDetails":{"type":"string"},"PhoneNumber":{"type":"string"},"StatusCode":{"type":"string"},"Status":{"enum":["Enabled","Suspended","Cancelled","Processing","Completed"],"type":"string"}}},"PaymentRoutingDto":{"type":"object","properties":{"AccountHolderName":{"type":"string"},"PartyIdentification":{"type":"array","items":{"$ref":"#/definitions/PartyIdentificationDto"}},"IntermediaryPartyIdentification":{"type":"array","items":{"$ref":"#/definitions/PartyIdentificationDto"}}}},"AccountStatementItemDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"CurrencyCode":{"type":"string"},"DeltaBalance":{"format":"decimal","type":"number"},"ValueDate":{"format":"date-time","type":"string"},"Sequence":{"type":"string"},"RunningTotal":{"format":"decimal","type":"number"},"Exchange":{"$ref":"#/definitions/ExchangeStatementDetailsDto"},"Withdrawal":{"$ref":"#/definitions/WithdrawalStatementDetailsDto"},"Transfer":{"$ref":"#/definitions/TransferStatementDetailsDto"},"Deposit":{"$ref":"#/definitions/DepositStatementDetailsDto"},"FundsRequest":{"$ref":"#/definitions/FundsRequestStatementDetailsDto"},"Fee":{"$ref":"#/definitions/FeeStatementDetailsDto"},"Narrative":{"type":"string"}}},"DepositInformationRoutingTempDto":{"type":"object","properties":{"BeneficiaryName":{"type":"string"},"Properties":{"type":"object","additionalProperties":{"type":"object"}}}},"IndustryDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"Name":{"type":"string"}}},"ExchangeStatementDetailsDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"SourceCurrencyCode":{"type":"string"},"TargetCurrencyCode":{"type":"string"},"Goal":{"format":"decimal","type":"number"},"GoalTypeCode":{"type":"string"},"GoalType":{"enum":["Buy","Sell"],"type":"string"}}},"WithdrawalStatementDetailsDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"Reference":{"type":"string"},"Exchange":{"$ref":"#/definitions/ExchangeStatementDetailsDto"},"BeneficiaryId":{"format":"int32","type":"integer"},"BeneficiaryName":{"type":"string"}}},"TransferStatementDetailsDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"Reference":{"type":"string"},"PayerAccount":{"$ref":"#/definitions/AccountInfoDto"},"BeneficiaryAccount":{"$ref":"#/definitions/AccountInfoDto"}}},"DepositStatementDetailsDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"Reference":{"type":"string"},"CounterpartAccountName":{"type":"string"},"Exchange":{"$ref":"#/definitions/ExchangeStatementDetailsDto"}}},"FundsRequestStatementDetailsDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"PayeeAccountId":{"format":"int32","type":"integer"},"PayerAccountId":{"format":"int32","type":"integer"},"PayeeReference":{"type":"string"},"PayerReference":{"type":"string"},"Amount":{"format":"decimal","type":"number"},"CurrencyCode":{"type":"string"}}},"FeeStatementDetailsDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"AccountId":{"format":"int32","type":"integer"},"DepositId":{"format":"int32","type":"integer"},"Deposit":{"$ref":"#/definitions/DepositStatementDetailsDto"},"WithdrawalId":{"format":"int32","type":"integer"},"Withdrawal":{"$ref":"#/definitions/WithdrawalStatementDetailsDto"},"TransferId":{"format":"int32","type":"integer"},"Transfer":{"$ref":"#/definitions/TransferStatementDetailsDto"},"ExchangeId":{"format":"int32","type":"integer"},"Exchange":{"$ref":"#/definitions/ExchangeStatementDetailsDto"},"Narrative":{"type":"string"}}},"AccountInfoDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"},"AccountNumber":{"type":"string"},"Name":{"type":"string"}}},"QuoteRequest":{"required":["AccountId","GoalType","Amount","SourceCurrencyCode","TargetCurrencyCode"],"type":"object","properties":{"AccountId":{"format":"int32","description":"The account context for the quote","type":"integer"},"GoalType":{"description":"The goal of the quote, either a 'Buy' or a 'Sell'","enum":["Buy","Sell"],"type":"string"},"Amount":{"format":"decimal","description":"The amount to buy or sell","type":"number"},"SourceCurrencyCode":{"description":"The currency to be disposed of","type":"string"},"TargetCurrencyCode":{"description":"The currency to be acquired","type":"string"}}},"CreateAccountTransferRequest":{"required":["AccountId","CurrencyCode","Amount","BeneficiaryId"],"type":"object","properties":{"AccountId":{"format":"int32","description":"The account id for which the instruction will be created","type":"integer"},"CurrencyCode":{"description":"The currency to be transferred","type":"string"},"Amount":{"format":"decimal","description":"The amount to be transferred","type":"number"},"BeneficiaryId":{"format":"int32","description":"The beneficiary id which will receive the funds","type":"integer"},"Reference":{"description":"The reference for the transaction","type":"string"}},"example":"{\r\n  \"AccountId\": 1,\r\n  \"CurrencyCode\": \"GBP\",\r\n  \"Amount\": 1000.0,\r\n  \"BeneficiaryId\": 9,\r\n  \"Reference\": \"SOME TEXT\"\r\n}"},"CreateResultDto":{"type":"object","properties":{"Id":{"format":"int32","type":"integer"}}},"CreateAccountWithdrawalRequest":{"required":["AccountId","CurrencyCode","BeneficiaryId"],"type":"object","properties":{"AccountId":{"format":"int32","description":"The account id for which the withdrawal will be created","type":"integer"},"CurrencyCode":{"description":"The currency to be withdrawn","type":"string"},"Amount":{"format":"double","description":"The amount to be withdrawn. If left empty, the maximum withdrawable amount will be requested for withdrawal","type":"number"},"BeneficiaryId":{"format":"int32","description":"The beneficiary id who will receive the funds","type":"integer"},"Reference":{"description":"The withdrawal reference, up to 35 characters","type":"string"},"Description":{"description":"The withdrawal description, up to 140 characters","type":"string"},"PaymentPurposeId":{"format":"int32","description":"The payment purpose id","type":"integer"},"UltimateOriginator":{"$ref":"#/definitions/UltimateOriginatorDto","description":"The ultimate originator. Use only if you are creating a withdrawal on behalf of another party or entity."}},"example":"{\r\n  \"AccountId\": 1234,\r\n  \"CurrencyCode\": \"GBP\",\r\n  \"Amount\": 1234.56,\r\n  \"BeneficiaryId\": 5678,\r\n  \"Reference\": \"ref xyz\",\r\n  \"Description\": \"xxx/yyy/123\",\r\n  \"PaymentPurposeId\": 1,\r\n  \"UltimateOriginator\": {\r\n    \"Name\": \"string\",\r\n    \"Address\": {\r\n      \"Street\": \"string\",\r\n      \"HouseNumber\": \"string\",\r\n      \"HouseName\": null,\r\n      \"FlatNumber\": null,\r\n      \"District\": \"string\",\r\n      \"Town\": \"string\",\r\n      \"County\": null,\r\n      \"PostCode\": \"string\",\r\n      \"CountryCode\": \"string\"\r\n    }\r\n  }\r\n}"},"UltimateOriginatorDto":{"required":["Name","Address"],"type":"object","properties":{"Name":{"type":"string"},"Address":{"$ref":"#/definitions/AddressDto"}}},"CreateInstructionWithdrawalRequest":{"required":["InstructionId","BeneficiaryId"],"type":"object","properties":{"InstructionId":{"format":"int32","description":"The instruction id which will trigger this withdrawal","type":"integer"},"BeneficiaryId":{"format":"int32","description":"The beneficiary id who will receive the funds","type":"integer"},"PaymentPurposeId":{"format":"int32","description":"The payment purpose id","type":"integer"},"UltimateOriginator":{"$ref":"#/definitions/UltimateOriginatorDto","description":"The ultimate originator. Use only if you are creating a withdrawal on behalf of another party or entity."}},"example":"{\r\n  \"InstructionId\": 1234,\r\n  \"BeneficiaryId\": 5678,\r\n  \"PaymentPurposeId\": 1,\r\n  \"UltimateOriginator\": {\r\n    \"Name\": \"string\",\r\n    \"Address\": {\r\n      \"Street\": \"string\",\r\n      \"HouseNumber\": \"string\",\r\n      \"HouseName\": null,\r\n      \"FlatNumber\": null,\r\n      \"District\": \"string\",\r\n      \"Town\": \"string\",\r\n      \"County\": null,\r\n      \"PostCode\": \"string\",\r\n      \"CountryCode\": \"string\"\r\n    }\r\n  }\r\n}"}},"securityDefinitions":{"oauth2":{"type":"oauth2","description":"Freemarket Web API Identity Server","flow":"password","scopes":{"freemarketFXAPI":"access to the Freemarket API"}}},"tags":[{"name":"Accounts"},{"name":"Alerts"},{"name":"Beneficiaries"},{"name":"Countries"},{"name":"Currencies"},{"name":"Deposits"},{"name":"Entities"},{"name":"Exchanges"},{"name":"Jobs"},{"name":"Quotes"},{"name":"Sectors"},{"name":"Transfers"},{"name":"Withdrawals"}]}